@import "tailwindcss";

@theme {
  --color-primary: #ffc400;
  --color-secondary: #121212;
  --color-greyCol: #576974;
  --color-yellowsecondary: #cc8700;
}

@theme {
  --animate-dropDown: dropDown 0.25s ease;
  --animate-dropDownOut: dropDownOut 0.25s ease;

  @keyframes dropDown {
    0% {
      opacity: 0;
      transform: scale(0.9) translateY(-10px);
    }
    100% {
      opacity: 100;
      transform: scale(1) translateY(0px);
    }
  }

  @keyframes dropDownOut {
    0% {
      opacity: 100;
      transform: scale(1) translateY(0px);
    }
    100% {
      opacity: 0;
      transform: scale(0.9) translateY(-10px);
    }
  }
}
