@import "tailwindcss";

* {
    @apply scroll-smooth;
}

@theme {
    --color-primary: #ffc400;
    --color-secondary: #121212;
    --color-greyCol: #576974;
    --color-yellowsecondary: #cc8700;

    --radius-primary: 1.25rem;
}

@theme {
    --animate-dropDown: dropDown 0.25s ease;
    --animate-dropDownOut: dropDownOut 0.25s ease;
    --animate-grow: grow 2s ease forwards;
    --animate-slidein: slidein 1s ease 300ms;

    @keyframes dropDown {
        0% {
            opacity: 0;
            transform: scale(0.9) translateY(-10px);
        }
        100% {
            opacity: 100;
            transform: scale(1) translateY(0px);
        }
    }

    @keyframes dropDownOut {
        0% {
            opacity: 100;
            transform: scale(1) translateY(0px);
        }
        100% {
            opacity: 0;
            transform: scale(0.9) translateY(-10px);
        }
    }

    @keyframes grow {
        0% {
            width: 0;
        }
        100% {
            width: 3.5rem;
        }
    }

    @keyframes slidein {
        0% {
            opacity: 0;
            transform: translateY(-10px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.swiper-hero .swiper-pagination {
    @apply !w-fit !right-1/5 !left-auto !bottom-10;
}

.swiper-hero .swiper-pagination-bullet {
    @apply w-3 h-3 bg-white opacity-60;
}

.swiper-hero .swiper-pagination-bullet-active {
    @apply opacity-100;
}

.swiper-hero .swiper-button-prev,
.swiper-hero .swiper-button-next {
    @apply text-white font-black opacity-60 px-10;
}

.page-item {
    @apply text-greyCol/50;
}

.page-item.active {
    @apply rounded-[7px] bg-primary px-4 py-2 text-white;
}
